.tabs-wrapper {
  display: flex;
  min-height: 70px;
  background-color: whitesmoke;
  width: 500px;
  gap: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  flex-wrap: wrap;
}

.tabs-links {
  padding: 1rem;
  border: hidden;
  min-height: 70px;
  background-color: whitesmoke;
  align-items: left;
  font-size: large;
}
.tabs-links::before {
  background-color: grey;
}
.tabs-links-content {
  display: flex;
  min-height: 100px;
  background-color: white;
  width: 500px;
  gap: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  justify-self: start;
}
.tabs-links:active {
  background-color: grey;
}
@media (max-width: 600px) {
  .tabs-wrapper {
    width: 300px;
  }
  .tabs-links-content {
    width: 300px;
  }
}
