.tabs-wrapper {
  display: flex;
  min-height: 70px;
  background-color: whitesmoke;
  width: 500px;
  gap: 1rem;
  border: 1px solid darkgray;
  flex-wrap: nowrap;
}

.tabs-links {
  padding: 1rem;
  border: hidden;
  min-height: 70px;
  background-color: whitesmoke;
  align-items: left;
  font-size: large;
}
.tabs-links::before {
  background-color: grey;
}
.tabs-links-content {
  display: flex;
  min-height: 100px;
  background-color: white;
  width: 500px;
  gap: 1rem;
  border: 1px solid darkgray;
  justify-self: start;
}
.tabs-links:active {
  background-color: grey;
}
